
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  
} */
.container{
  /* border: 2px solid black; */
  width: 25%;
  height: 40vh;
  margin-top: 20vh;
  background-color: rgb(125, 192, 192);
  padding: 1.5rem;
  margin-left: 35%;
}

.input-box{
  /* border: 2px solid black; */
  margin-top: 2vh;
}

.input-box input{
  height: 1.8rem;
  width: 100%;
}

.flagContainer{
  /* border: 2px solid black; */
  width: 100%;
  height: 8vh;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.from{
  /* border: 2px solid black; */
  width: 40%;
  height: 100%;
}

#countryFlag{
  width: 30%;
}

.from img{
  width: 25px;
  height: 25px;
  padding-top: 10px;
}

.para{
  /* border: 2px solid  black; */
  width: 100%;
  height: 5vh;
  margin-top: 2vh
}

button{
  width: 100%;
  border-radius: 0.5rem;
  padding: 1.5vh;
  background-color: rgb(117, 8, 145);
  color: aliceblue;
  border: none;
  cursor: pointer;
}